In [333]:
from sklearn.datasets import load_iris
import pandas as pd 
import numpy as np

In [334]:
iris= load_iris()

In [335]:
df= pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [336]:
df['Species']= iris.target

In [337]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [338]:
df.drop(columns=['petal length (cm)', 'petal width (cm)'], axis=1, inplace=True)

In [339]:
df.head()

   sepal length (cm)  sepal width (cm)  Species
0                5.1               3.5        0
1                4.9               3.0        0
2                4.7               3.2        0
3                4.6               3.1        0
4                5.0               3.6        0

In [340]:
df['Species']= df['Species'].map({0: 'setosa', 1: 'versicolor', 2: 'versicolor'})

In [341]:
df.Species.unique()

array(['setosa', 'versicolor'], dtype=object)

In [342]:
df.shape

(150, 3)

# Predictions

In [343]:
query_point=[2.1, 3.2]

In [344]:
distance=[]
for feature1, feature2 in zip(df['sepal length (cm)'], df['sepal width (cm)']):
 distance.append(np.sqrt((query_point[0] - feature1)**2 + (query_point[1]-feature2)**2))

In [345]:
df['distance']= distance

In [346]:
df.head()

   sepal length (cm)  sepal width (cm) Species  distance
0                5.1               3.5  setosa  3.014963
1                4.9               3.0  setosa  2.807134
2                4.7               3.2  setosa  2.600000
3                4.6               3.1  setosa  2.501999
4                5.0               3.6  setosa  2.927456

In [347]:
x= df.iloc[:, 1]

In [348]:
sorted_distances= sorted(distance, key=lambda x: x)

In [349]:
sort_distance_indexes= [i for i,_ in enumerate(sorted_distances[:k])]

In [350]:
sort_distance_indexes

[0, 1, 2]

In [354]:
# get the lables of the nearest neigbors
y= df['Species']
labels_neighbors= [y[i] for i in sort_distance_indexes]

In [352]:
from collections import Counter

In [356]:
print('The predicted class', Counter(labels_neighbors))

The predicted class Counter({'setosa': 3})